<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="UltimateContext"
      connectionString="metadata=res://*/UltimateDataModel.csdl|res://*/UltimateDataModel.ssdl|res://*/UltimateDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ETSIBASE;initial catalog=U3GPPDB;Integrated Security=False;uid=ngppqa;pwd=ngppqa;Enlist=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
</configuration>