<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Etsi.UserRights.Service.UserRightsService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:81/UserRightsService/"/>
          </baseAddresses>
        </host>
        <endpoint name="UserRightsHttpEndpoint" contract="Etsi.UserRights.Interface.IUserRightsService" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingSettings"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingSettings" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="True">
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DNN3GPPContext" connectionString="metadata=res://*/DNN3GPP.csdl|res://*/DNN3GPP.ssdl|res://*/DNN3GPP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\ULTIMATE;initial catalog=DNN3GPP;Integrated Security=True;Enlist=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DNNETSIContext" connectionString="metadata=res://*/DNNETSI.csdl|res://*/DNNETSI.ssdl|res://*/DNNETSI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\ULTIMATE;initial catalog=DNN3GPP;Integrated Security=True;Enlist=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DSDBContext" connectionString="metadata=res://*/DSDBDataModel.csdl|res://*/DSDBDataModel.ssdl|res://*/DSDBDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\ULTIMATE;initial catalog=DSDB;Integrated Security=True;Enlist=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>