/*please prefix all your css by the id of your component global div*/
#eventCreationContener
{
	font-family: Arial,verdana,Serif;
	font-size: 12px;
	margin:20px;
}
#eventCreationContener h1
{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: gray;
}
#eventCreationContener table {width:100%;margin:auto;}
#eventCreationContener table .LeftColumn
{
	width: 33%;
	text-align: right;
	padding: 5px;
}
#eventCreationContener table .RightColumn
{
    text-align: left;
    padding: 5px;
}
#eventCreationContener table textarea{width: 99%;}
#eventCreationContener table .satisfactionSurveyURLStyle
{
	width:100%;
}