/*please prefix all your css by the id of your component global div*/

/*Event webform style*/
.eventWebFormStyle
{
	font-family: Arial,verdana,Serif;
	font-size: 12px;
	margin:20px;
}
.eventWebFormStyle h1
{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: gray;
}
.eventWebFormStyle table {width:100%;margin:auto;}
.eventWebFormStyle table .LeftColumn
{
	width: 33%;
	text-align: right;
	padding: 5px;
}
.eventWebFormStyle table .RightColumn
{
    text-align: left;
    padding: 5px;
}
.eventWebFormStyle table textarea{width: 99%;}
/*Event webform style*/

/*Event create/edit*/
#eventCreationContener table .satisfactionSurveyURLStyle
{
	width:100%;
}
/*Event create/edit*/

/*Event details*/

/*Event details*/


