<?xml version="1.0"?>
<rules>
	<rule name="HTTP to HTTPS redirect" enabled="false" stopProcessing="true">
	  <match url="(.*)" />
	  <conditions logicalGrouping="MatchAny">
					<add input="{HTTPS}" pattern="off" />
					<add input="{HTTP_HOST}" pattern="^portal\.13\.etsidev\.org$" negate="true" />
	  </conditions>
	  <action type="Redirect" url="https://portal.13.etsidev.org/{R:1}" redirectType="Found" />
	</rule>
	<rule name="RedirectRelease" stopProcessing="true">
		<match url="^desktopmodules/Release/ReleaseDetails\.aspx$" />
		<conditions>
			<add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
			<add input="{QUERY_STRING}" pattern="^ReleaseId=([^=&amp;]+)$" />
		</conditions>
		<action type="Redirect" url="Release/{C:1}" appendQueryString="false" />
	</rule>
	<rule name="RewriteUserFriendlyURL_Releases" stopProcessing="true">
		<match url="^Release/([^/]+)/?$" />
		<conditions>
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		</conditions>
		<action type="Rewrite" url="desktopmodules/Release/ReleaseDetails.aspx?ReleaseId={R:1}" />
	</rule>
</rules>