/*TODO : move to the skin*/
.helpTooltip{
	border-bottom: 1px rgba(255, 255, 255, 0.36) dashed;
	cursor: help;
}

.contentModal {
    padding: 10px 25px;
}

.wiHeader {
    margin: 5px 0 10px 0;
}

.wiCenter {
    margin: auto;
    text-align: center;
}

.wiFooter {
    text-align: right;
    margin-top: 10px;
}

.RadWindow_Default a.rwIcon {
    background-image: none !important;
    width: 0;
}

.wiFooter div {
    display: inline !important;
}

.ErrorItem {
    color: red;
}

/*IMPORT*/
#import .inputImport {
    width: 200px;
    margin-right: 2px;
}

#import .center {
    margin: 10px 0px;
}

#import .ruFakeInput {
    width: 357px;
    margin-right: 1px;
}
/*IMPORT*/

/*ANALYSIS*/
#analysis .header {
    margin-bottom: 20px;
}
/*ANALYSIS*/

/*CONFIRMATION*/
#confirmation .scrollable {
    height: 140px;
    overflow: auto;
    border: solid 1px rgb(206, 206, 206);
    padding: 10px 20px;
    margin-bottom: 10px;
    background: rgb(240, 240, 240);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: inset 1px 1px 5px -1px #656565;
    -webkit-box-shadow: inset 1px 1px -2px -1px #656565;
    -o-box-shadow: inset 1px 1px 5px -1px #656565;
    box-shadow: inset 1px 1px 24px -11px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    border-radius: 5px;
}

#confirmation h2 {
    font-size: 14px;
    padding: 0;
    margin: 0;
}
/*CONFIRMATION*/

/* WORK ITEM SEARCH */
.WorkItemSearchHeader {
    color: white;
    font-family: arial, verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px #44760f !important;
    background: #75B91A;
    background-image: linear-gradient(#75B91A 0%,? #54AF13 100%);
    background-image: -webkit-gradient(linear,bottom, top, #75B91A, #54AF13);
    background-image: -webkit-linear-gradient(bottom, #75B91A, #54AF13);
    background-image: -moz-linear-gradient(bottom, #75B91A, #54AF13);
    background-image: -ms-linear-gradient(bottom, #75B91A, #54AF13);
    background-image: -o-linear-gradient(bottom, #75B91A, #54AF13);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75B91A', endColorstr='#54AF13',GradientType=1 );
}




/* WORKITEM DETAILS - START*/

.wiDetailBody {
    font-family: Arial,verdana,Serif;
    font-size: 12px;
}

#wiDetailRadMultiPage td {
    padding-top: 8px !important;
    padding-bottom: 3px !important;
}

.wiRemarks {
    position: relative;
    bottom: 20px;
    width: 623px;
}

#wiDetailRadMultiPage fieldset {
    border: 1px solid grey !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

legend {
    font-weight: bold !important;
}

.wiDetailsWarning {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/warning.png');
}

.wiDetailsWarningTxt {
    margin: 0 0 0 25%;
}

.TabLineRight {
    width: auto;
    text-align: left;
    padding-left: 10px;
}

.TabLineLeft {
    width: 184.6px;
    text-align: right;
    vertical-align: top;
}

    .TabLineLeft span {
        padding-right: 10px;
    }

        .TabLineLeft span .requiredField {
            color: red;
            font-weight: bold;
            padding-right: 0px;
        }

.HeaderText {
    position: absolute;
    right:20px;
    width: 350px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: gray;
    z-index:2000;
}

.wiDetailsAction {
    margin: 15px 0 0 0 !important;
    max-height: 30px;
}

/*WorkItem Status*/
.AwaitingApproval {
    font-weight: bold;
    font-size: 14px;
    color: #536fb6;
}

.NotStarted {
    font-size: 14px;
    color: #0070CA;
}

.Active {
    font-weight: bold;
    font-size: 14px;
    color: #0070C0;
}

.Completed {
    font-weight: bold;
    font-size: 14px;
    color: #00B050;
}

.Stopped {
    font-weight: bold;
    font-size: 14px;
    color: #808080;
}

/* WORKITEM DETAILS - END*/

/*REMARK CONTROL CUSTOM STYLE*/
#remarkControlContent {
    margin-top: 10px;
}

/* 3GPP button style */
.btn3GPP-success {
    color: #fff;
    background-image: -webkit-linear-gradient(bottom, #75B91A, #54AF13);
	background-image: -moz-linear-gradient(bottom, #75B91A, #54AF13);
	background-image: -ms-linear-gradient(bottom, #75B91A, #54AF13);
	background-image: -o-linear-gradient(bottom, #75B91A, #54AF13);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75B91A', endColorstr='#54AF13',GradientType=1 );
    border-color: #4cae4c;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 12px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 4px;
    text-decoration: none;
}

.btn3GPP-success:hover {
	color: #fff;
    background-image: -webkit-linear-gradient(bottom, #64A014, #54AF13);
	background-image: -moz-linear-gradient(bottom, #64A014, #54AF13);
	background-image: -ms-linear-gradient(bottom, #64A014, #54AF13);
	background-image: -o-linear-gradient(bottom, #64A014, #54AF13);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64A014', endColorstr='#54AF13',GradientType=1 );
}
.btn3GPP-success:active {
	color: #fff;
    background: #64A014;
}

.btn3GPP-default {
    color: #fff;
    background-image: -webkit-linear-gradient(bottom, #B6B6B6, #A09F9F);
	background-image: -moz-linear-gradient(bottom, #B6B6B6, #A09F9F);
	background-image: -ms-linear-gradient(bottom, #B6B6B6, #A09F9F);
	background-image: -o-linear-gradient(bottom, #B6B6B6, #A09F9F);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B6B6B6', endColorstr='#A09F9F',GradientType=1 );
    border-color: #4cae4c;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 12px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 4px;
    text-decoration: none;
}

.btn3GPP-default:hover {
	color: #fff;
    background-image: -webkit-linear-gradient(bottom, #8D8D8D, #A09F9F);
	background-image: -moz-linear-gradient(bottom, #8D8D8D, #A09F9F);
	background-image: -ms-linear-gradient(bottom, #8D8D8D, #A09F9F);
	background-image: -o-linear-gradient(bottom, #8D8D8D, #A09F9F);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8D8D8D', endColorstr='#A09F9F',GradientType=1 );
}
.btn3GPP-default:active {
	color: #fff;
    background: #8D8D8D;
}
/* 3GPP button style */


.containerFix {
    width: 650px;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
}


.error {
    border-color: red;
}

.RadAjaxPanel {
    display: inline !important;
}

img.imgViewWorkItems {
    cursor: pointer;
}

#imgViewWorkItems
{
	cursor:pointer;
}

#moduleWI .trStoppedWI
{
    background-color:rgb(199, 199, 199);
}
#moduleWI .trStoppedWI:hover
{
    background-color:rgb(199, 199, 199);
}


