@import url("/Portals/_default/Skins/3GPP/CommonCssComponent/buttons.css");

.containerFix {
    width: 400px !important;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
}

.ConfirmationWindow
{
    width: 200px;
    height:75px;
}

.VersionCentered
{
    text-align:center;
}

.versionUploadBody, .messageBox {
    font-family: Arial,verdana,Serif;
    font-size: 12px;
}

.Warning {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/warning.png');
}

.WarningTxt {
    margin: 0 0 0 5px;
}

.Error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}

.ErrorTxt {
    margin: 0 0 0 5px;
}

.TabLineLeft {
    text-align: right;
    width: 150px !important;
    padding-top: 4px !important;
    padding-bottom: 3px !important;
}

    .TabLineLeft span {
        padding-right: 10px;
    }

.TabLineRight {
    width: auto;
    text-align: left;
    padding-top: 4px !important;
    padding-bottom: 3px !important;
}

.TabLineRight2Col {
    width: auto;
    text-align: left;
    padding-top: 4px !important;
    padding-bottom: 3px !important;
}

.VersionDetailsTable {
    width: 400px !important;
    border-width: 2px !important;
    border-style: solid;
    border-color: grey;
    table-layout: fixed;
}

.VersionUploadTable {
    width: 394px !important;
    table-layout: fixed;
}

.releaseDetailsAction {
    width: 394px !important;
    text-align: right;
    padding-right: 10px;
}

#CommentVal {
    padding: 0px !important;
}

.RadUpload {
    width: 200px!important;
    text-align: left;
}

.contentModal {
    width: 400px;
    height: 260px;
}
.scrollable {
    width: 100%;
    height: 165px;
    overflow-y:scroll;
    background-color: rgb(231, 231, 231);
}

span.requiredField {
    color: red;
    padding-right: 0px;
}

/*VERSION POPUP*/
#frmVersionPopup {
    font-family: Arial,verdana,Serif;
    font-size: 14px;
}

#frmVersionPopup .versionIdentifier {
    padding-bottom: 10px;
}
#frmVersionPopup .versionIdentifier span {
    font-weight: bold;
    font-size: 15px;
}

#frmVersionPopup .footer {
    position: relative; 
    top: 10px; 
    text-align:left;
}

#frmVersionPopup .confirmDeletePnl {
    text-align: center;
}
#frmVersionPopup .confirmDeletePnl p{
    margin:30px;
}
#frmVersionPopup .confirmDeletePnl .btns,
#frmVersionPopup .finishPnl .btns{ text-align: left;}