<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="UltimateContext" connectionString="metadata=res://*/UltimateDataModel.csdl|res://*/UltimateDataModel.ssdl|res://*/UltimateDataModel.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=U3GPPDB;integrated security=True;pooling=False;multipleactiveresultsets=False;application name=&quot;Microsoft SQL Server Data Tools, Schema Compare&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <appSettings>
    <add key="EmailDefaultFrom" value="3GPP Portal&lt;3gppapp@3gpp.org&gt;"/>
    <add key="EmailDefaultBcc" value="3gppapp@3gpp.org"/>
    <add key="DefaultTmpPath" value="D:\Apptrans\Download/"/>
    <add key="VersionsLatestFTPFolder" value="2014-09" />
    <add key="FtpBasePhysicalPath" value="Ftp\" />
		<add key="FtpBaseAddress" value="http://www.3gpp.org/ftp/" />
    <add key="PortalName" value="Ultimate"/>
    <add key="EtsiWorkitemsDeliveryFolder" value="http://www.etsi.org/deliver/"/>
    <add key="SpecificationDetailsUrl" value="http://www.localdev.me/desktopmodules/Specifications/SpecificationDetails.aspx?specificationId={0}" />
  </appSettings>
</configuration>
