<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="UltimateContext" connectionString="metadata=res://*/UltimateDataModel.csdl|res://*/UltimateDataModel.ssdl|res://*/UltimateDataModel.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=U3GPPDB;integrated security=True;pooling=False;multipleactiveresultsets=False;application name=&quot;Microsoft SQL Server Data Tools, Schema Compare&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="EmailDefaultFrom" value="3GPP Portal&lt;3gppapp@3gpp.org&gt;" />
    <add key="EmailDefaultBcc" value="3gppapp@3gpp.org" />
    <add key="DefaultTmpPath" value="D:\Apptrans\Download/" />
    <add key="FtpBasePhysicalPath" value="TestData\Ftp" />
    <add key="FtpBaseBackupPhysicalPath" value="TestData\Ftp\Backup" />
    <add key="RelativeFtpPathForVersionsToBeTransposed" value="{0}\Information\3GPP_ultimate_versions_to_be_transposed" />
    <add key="FtpBaseAddress" value="http://www.3gpp.org/ftp/" />
    <add key="PortalName" value="Ultimate" />
    <add key="EtsiWorkitemsDeliveryFolder" value="http://www.etsi.org/deliver/" />
    <add key="SpecificationDetailsUrl" value="http://www.localdev.me/desktopmodules/Specifications/SpecificationDetails.aspx?specificationId={0}" />
    <add key="Global3GPPSecurityGroupTbId" value ="386"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ItemsPerPageList" value="50|200|1000|ALL"/>
	  <add key="ItemsPerPageListDefaultValue" value="1000"/>
    <!-- ActivateWorkPlanExportAfterImport: False <=> do not export WorkPlan as excel or docx at the end of the import -->
    <add key="ActivateWorkPlanExportAfterImport" value="false"/>
    <add key="UploadVersionArchiveFolder" value="TestData\Versions\Archives"/>
    <add key="UploadVersionSystemShouldKeepUnZipFolder" value="True"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

<system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingSettings" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="True"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:81/ContributionService" name="ExternalContributionServiceHttpEndpoint" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingSettings" contract="ExternalContributionService.IExtContributionService"></endpoint>
    </client>
  </system.serviceModel>
</configuration>