<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="UltimateContext" connectionString="metadata=res://*/UltimateDataModel.csdl|res://*/UltimateDataModel.ssdl|res://*/UltimateDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=U3GPPDB;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service behaviorConfiguration="SyncServiceBehaviour" name="SyncService.SyncService">
        <endpoint binding="customUserNameBinding" bindingConfiguration="customUsernameBindingConfiguration" contract="SyncInterface.ISyncService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://dnn.services.org/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SyncServiceBehaviour">
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="SyncService.ServiceCredentialValidator, SyncService"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <bindingExtensions>
        <add name="customUserNameBinding" type="CustomUserNameBinding.CustomUsernameCollectionElement, CustomUsernameBinding"/>
      </bindingExtensions>
    </extensions>
    <bindings>
      <customUserNameBinding>
        <binding name="customUsernameBindingConfiguration" messageVersion="Soap12"/>
      </customUserNameBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>