/* AUTO COMPLETE - CUSTOM STYLE */
.WorkItemView .rpSlide{
	position: inherit !important;
}
	
.WorkItemView .AcronymAutoCompleteStyle .completionList {
	border:solid 1px #949494;
	margin:0;
	padding:1px;
	height: 100px;
	overflow:auto;
	background-color: #FFFFFF;
}

.WorkItemView .AcronymAutoCompleteStyle .listItem {
	color: #1C1C1C;
}

.WorkItemView .AcronymAutoCompleteStyle .itemHighlighted {
	background-color: #c4c4c4;
}
