
/* Rapporteur Control */

#divRapporteurControl fieldset
{
	margin: 2%;
	padding: 1% !important;
	border: 1px solid grey !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}

#divRapporteurControl .rgMasterTable{text-align:left;} 

#divRapporteurControl .searchBar td:nth-child(1){width:20%}
#divRapporteurControl .searchBar td:nth-child(2){width:60%}
#divRapporteurControl .searchBar td:nth-child(3){width:20%}

#divRapporteurControl .center{text-align:center;}
/* Rapporteur Control */
