<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="UserRightsHttpEndpoint" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:81/UserRightsService/" binding="wsHttpBinding"
                bindingConfiguration="UserRightsHttpEndpoint" contract="UserRightsService.IUserRightsService"
                name="UserRightsHttpEndpoint">
                <identity>
                    <servicePrincipalName value="host/DIN35001078.corp.capgemini.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>