<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="UserRightsHttpEndpoint" />
                <binding name="ExternalContributionServiceHttpEndpoint" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:81/UserRightsService/" binding="wsHttpBinding"
                bindingConfiguration="UserRightsHttpEndpoint" contract="UserRightsService.IUserRightsService"
                name="UserRightsHttpEndpoint">
                <identity>
                    <userPrincipalName value="fhemery@corp.capgemini.com" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:81/ContributionService" binding="wsHttpBinding"
                bindingConfiguration="ExternalContributionServiceHttpEndpoint"
                contract="ExternalContributionService.IExtContributionService"
                name="ExternalContributionServiceHttpEndpoint">
                <identity>
                    <dns value="localhost" />
                  <servicePrincipalName/>
                <userPrincipalName value="beaadmin@etsi_online" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>