#crList .rgHeader {
	height: 30px;
}
#crList .moduleHeaderIcon {
	text-align: right;
	height: 25px;
}

#crList .crSearchHeader {
    background-position: 0% 0%;
    color: white;
    font-family: arial, verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px #44760f !important;
    background-image: -o-linear-gradient(bottom, #75B91A, #54AF13);
    background-color: #75B91A;
    background-repeat: repeat;
    background-attachment: scroll;
    width: 100%;
    vertical-align: middle;
}

#crList .modalBackground 
{
    background-color: Gray;
    filter: alpha(opacity=60);
    opacity: 0.60;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    height: 100%;
    z-index: 3000;
}

#crList .updateProgress 
{
    top: 45%;
    position: fixed;
    right: 45%;
}

#crList .rpExpandHandle {
	background-color: white;
}