#crList .rgHeader {
	height: 30px;
}
#crList .moduleHeaderIcon {
	text-align: right;
	height: 25px;
}

#crList .crSearchHeader {
    background-position: 0% 0%;
    color: white;
    font-family: arial, verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px #44760f !important;
    background-image: -o-linear-gradient(bottom, #75B91A, #54AF13);
    background-color: #75B91A;
    background-repeat: repeat;
    background-attachment: scroll;
    width: 100%;
    vertical-align: middle;
}

#crList .modalBackground 
{
    background-color: Gray;
    filter: alpha(opacity=60);
    opacity: 0.60;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    height: 100%;
    z-index: 3000;
}

#crList .updateProgress 
{
    top: 45%;
    position: fixed;
    right: 45%;
    background: transparent;
}

#crList .rpExpandHandle {
	background-color: white;
}

#crList .RadAutoCompleteBox_Default .racToken {
    overflow:hidden !important;
    text-overflow: ellipsis;
    max-width:240px;
}

#crList .sendCrsToCrPackTd {
	float: left;
}

#crList .rdcbCrPackStyle {
	margin-bottom: -3px;
}

#crList .disabledTransparent 
{
    opacity: 0.25;
}

#crList .searchBtn{
    text-align: right; 
    padding-right: 10px;
}

#crList .hyperlinkStyle {
    cursor: pointer;
    text-decoration: underline;
}

#crList .racWi .racToken {
    padding: 0 17px 0 5px;
    display: inline-block;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    position: relative;
}