@import url("/Portals/_default/Skins/3GPP/CommonCssComponent/buttons.css");

.status{
    font-weight: bold;
}
.open{
    color : rgb(93, 175, 52);
}
.frozen, .freezeReach{
    color : rgb(39, 116, 0);
}
.closed{
    color : rgb(175, 40, 40);
}
.text-left
{
	text-align:left;
	padding: 0 15px;
}
.rgMasterTable th:nth-last-child(1), .rgMasterTable td:nth-last-child(1){
	border:none!important;
}

/* Release details/Edit style*/

.releaseDetailBody {
    font-family:Arial,verdana,Serif;
    font-size: 12px;
}

#ReleaseDetailRadMultiPage td {
    padding-top: 4px !important;
    padding-bottom: 3px !important;
}

.releaseRemarks {
    position: absolute; 
    bottom: 20px;
    width: 623px;
}

#ReleaseDetailRadMultiPage fieldset {
    margin: 2%;
    padding: 1% !important; 
    border: 1px solid grey !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

#ReleaseEditRadMultiPage fieldset {
    margin: 2px;
    border: 1px solid grey !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

legend{
    font-weight:bold !important;
}

.releaseName {
    font-weight:bold !important;
}

.status{
    font-weight: bold;
}
.Open{
    color : rgb(93, 175, 52);
}
.Frozen{
    color : rgb(39, 116, 0);
}
.Closed{
    color : rgb(175, 40, 40);
}

.releaseDetailsWarning {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/warning.png');
}

.releaseDetailsWarningTxt {
    margin: 0 0 0 25%;
}

.releaseDetailsError {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}

.releaseDetailsErrorTxt {
    margin: 0 0 0 25%;
}

.TabContent {
    margin: 10px;
    font: Arial  12px Black;
}

.releaseDetailsBody {
    margin: 5px 10px 5px 10px !important;
    min-height: 620px;
}

.TabContent fieldset legend span{
    font: Arial  12px Black bold !important;
}

.releaseDetailsAction {
    margin: 15px 0 0 0 !important; 
    max-height: 30px;
}

.TabLine {
    overflow-x: hidden;
    overflow-y: auto;
}

.TabLineLeft {
    width: 184.6px;
    text-align: right; 
}

.TabLineLeft  span{
    padding-right: 10px;
}

.TabLineLeft span .requiredField {
    color: red;
    font-weight: bold;
    padding-right: 0px;
}

.TabLineRight {
    width: auto;
    text-align: left;
}

.TabLine2colRight {
    width: 200px;
    text-align: left;
}

.TabLine3colRight {
    width: 219px;
    text-align: left;
}

.TabLineRightFreeze {
    width: 620px;
    text-align: left;
}

.FirstColFreezeStageEdit {
    width: 167.6px;
    text-align: right; 
}

.FirstColFreezeStageEdit  span{
    padding-right: 10px;
}

.FirstColFreezeStageDetails {
    width: 163.2px;
    text-align: right; 
}

.FirstColFreezeStageDetails  span{
    padding-right: 10px;
}

.SecndColFreezeStage {
    width: 414px !important;
    padding-left: 3px !important;
}

.DetailsColFreezeStage {
    width: 208.8px !important;
}


/* Details*/
.FreezeDateLbl
{
    width:160px;
    text-align:right;
}
.FreezeDatePicker
{
    padding-left:12px;
}

.FirstColFreezeStages {
    padding-right: 10px;
}

versionFieldsetTab {
    text-align: left;
    width: 100%;
}

.containerFix {
    width: 650px;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
}

.error {
    border-color: red;
}

.RadAjaxPanel {
    display: inline !important;
}

img.imgViewReleases
{
	cursor:pointer;
}

a.linkRelease
{
	color: rgb(45, 90, 180) !important;
	text-decoration: underline !important;
}

.headerBtnRelease{
    height: 30px;
}

#releaseList .rgMasterTable
{
	color: #312e25;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

