
.status{
    font-weight: bold;
}
.open{
    color : rgb(93, 175, 52);
}
.frozen, .freezeReach{
    color : rgb(39, 116, 0);
}
.closed{
    color : rgb(175, 40, 40);
}
.text-left
{
	text-align:left;
	padding: 0 15px;
}
.rgMasterTable th:nth-last-child(1), .rgMasterTable td:nth-last-child(1){
	border:none!important;
}

/* Release details style*/

.releaseDetailBody {
    font-family:Arial,verdana,Serif;
    font-size: 12px;
}

#ReleaseDetailRadMultiPage td {
    padding-top: 4px !important;
    padding-bottom: 3px !important;
}

.releaseRemarks {
    /*position:fixed;
    top:370px;	*/
    position: absolute; 
    bottom: 20px;
    width: 623px;
}

#ReleaseDetailRadMultiPage fieldset {
    margin: 2%;
    padding: 1% !important; 
    border: 1px solid grey !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

#ReleaseEditRadMultiPage fieldset {
    margin: 2px;
    border: 1px solid grey !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

legend{
    font-weight:bold !important;
}

.releaseName {
    font-weight:bold !important;
}

.status{
    font-weight: bold;
}
.Open{
    color : rgb(93, 175, 52);
}
.Frozen{
    color : rgb(39, 116, 0);
}
.Closed{
    color : rgb(175, 40, 40);
}

.releaseDetailsWarning {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/warning.png');
}

.releaseDetailsWarningTxt {
    margin: 0 0 0 25%;
}

.releaseDetailsError {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}

.releaseDetailsErrorTxt {
    margin: 0 0 0 25%;
}

.TabContent {
    margin: 10px;
    font: Arial  12px Black;
}

.releaseDetailsBody {
    margin: 5px 10px 5px 10px !important;
    min-height: 620px;
}

.TabContent fieldset legend span{
    font: Arial  12px Black bold !important;
}

.releaseDetailsAction {
    margin: 15px 0 0 0 !important; 
    max-height: 30px;
}

.TabLine {
    overflow-x: hidden;
    overflow-y: auto;
}

.TabLineLeft {
    width: 180px;
    text-align: right; 
}

.TabLineLeft  span{
    padding-right: 10px;
}

.TabLineLeft span .requiredField {
    color: red;
    font-weight: bold;
    padding-right: 0px;
}

.TabLineRight {
    width: 70%;
    text-align: left;
}

.TabLineRightFreeze {
    width: 100%;
    text-align: left;
}

.FreezeDateLbl
{
    width:160px;
    text-align:right;
}
.FreezeDatePicker
{
    padding-left:12px;
}

.FirstColFreezeStages {
    padding-right: 10px;
}



.TabLine3colRight {
    width: 129px;
    text-align: left;
}


versionFieldsetTab {
    text-align: left;
    width: 100%;
}


.LinkButton {
    background-position: 0% 0%;
    text-decoration: none;
    padding: 2px 15px;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    /*-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);*/
    
    vertical-align: middle;
	-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: -o-linear-gradient(bottom, #75B91A, #54AF13);
/* IE6-9 */
    
    background-color: #75B91A;
    background-repeat: repeat;
    background-attachment: scroll;
}

.disabledLink {
    background-position: 0% 0%;
    text-decoration: none;
    padding: 2px 15px;
    color: black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #000000;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    /*-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);*/
    
    vertical-align: middle;
	-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: -o-linear-gradient(bottom, #DFDFDF, #5F5F5F);
/* IE6-9 */
    
    background-color: #BFBFBF;
    background-repeat: repeat;
    background-attachment: scroll;
}

.LinkButton:hover {
    background: #75B91A;
    border: solid 1px #2A4E77;
    text-decoration: none;
}


.containerFix {
    width: 650px;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
}




.error {
    border-color: red;
}

.RadAjaxPanel {
    display: inline !important;
}
