
.status{
    font-weight: bold;
}
.open{
    color : rgb(93, 175, 52);
}
.frozen, .freezeReach{
    color : rgb(39, 116, 0);
}
.closed{
    color : rgb(175, 40, 40);
}
.text-left
{
	text-align:left;
	padding: 0 15px;
}
.rgMasterTable th:nth-last-child(1), .rgMasterTable td:nth-last-child(1){
	border:none!important;
}