/*ITU recomendations*/
#ituRecommendationsContent {
    font-family: Arial,verdana,Serif;
    font-size: 12px;
}

#ituRecommendationsContent table{
    width: 650px;
    margin: auto;
}

#ituRecommendationsContent .btns{
    margin-top: 20px;
    margin-left: 15px;
}

#ituRecommendationsContent .TabLineleft{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
#ituRecommendationsContent .TabLineRight{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
#ituRecommendationsContent .formItuRec{
    padding-top: 35px;
}

/*table alignement*/
#ituRecommendationsContent .TabLineLeft {
    width: 184.6px;
    text-align: right;
    padding-top: 4px !important;
    padding-bottom: 3px !important;
}

#ituRecommendationsContent .TabLineRight {
    width: auto;
    text-align: left;
}

#ituRecommendationsContent .messageBox{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
	word-wrap: break-word;
}

#ituRecommendationsContent .messageBox li { list-style-type: none; }

#ituRecommendationsContent .messageBox.error{
    border: rgba(155, 3, 3, 0.25) solid 1px;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}

#ituRecommendationsContent .mandatoryIndicator{
	color:rgb(231, 0, 0);
	font-weight:bold;
	cursor:help;
}

.PopupHeaderTitleRight {
    left: auto;
    right: 10px;
}