@import url("/Portals/_default/Skins/3GPP/CommonCssComponent/buttons.css");
.text-left
{
	text-align:left;
	padding: 0 15px;
}
.rgMasterTable th:nth-last-child(1), .rgMasterTable td:nth-last-child(1){
	border:none!important;
}

.containerFix {
    width: 650px;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
}

.specificationDetailsBody {
    font-family:Arial,verdana,Serif;
    font-size: 12px;
}

#SpecificationDetailsRadMultiPage td {
    padding-top: 4px !important;
    padding-bottom: 3px !important;
}

.TabContent {
    margin: 10px;
    font: Arial  12px Black;
}

.specificationRemarks {
    position: absolute; 
    bottom: 20px;
    width: 623px;
}


#SpecificationDetailsRadMultiPage fieldset {
    margin: 2%;
    padding: 1% !important; 
    border: 1px solid grey !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

legend{
    font-weight:bold !important;
}

.Warning {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/warning.png');
}

.WarningTxt {
    margin: 0 0 0 25%;
}

.Error {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}

.ErrorTxt {
    margin: 0 0 0 25%;
}

.TabLineLeft {
    width: 184.6px;
    text-align: right; 
}

.TabLineLeft  span{
    padding-right: 10px;
}

.TabLineRight {
    width: auto;
    text-align: left;
}


.specificationDetailsAction {
    margin: 15px 0 0 0 !important; 
    max-height: 30px;
}
