@import url("/Portals/_default/Skins/3GPP/CommonCssComponent/buttons.css");

.text-left {
    text-align: left;
    padding: 0 3px;
}

.text-center {
    text-align: center;
}

.containerFix {
    width: 650px !important;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
}

.specificationDetailsBody {
    font-family: Arial,verdana,Serif;
    font-size: 12px;
}

.TabContent {
    margin: 10px;
    font: Arial 12px Black;
}

.specificationRemarks {
    position: absolute;
    bottom: 20px;
    width: 650px;
}


#SpecificationDetailsRadMultiPage fieldset {
    margin: 2%;
    padding: 1% !important;
    border: 1px solid grey !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

legend {
    font-weight: bold !important;
}

.Warning {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/warning.png');
}

.WarningTxt {
    margin: 0 0 0 25%;
}

.Error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}

.ErrorTxt {margin: 0 0 0 7%;}

.TabLineLeft {
    width: 184.6px;
    text-align: right;

    padding-top: 4px !important;
    padding-bottom: 3px !important;
}

.TabLineLeft span {
    padding-right: 10px;
}

.TabLineRight {
    width: auto;
    text-align: left;
}

    .TabLineRight img {
        vertical-align: top;
    }

.specificationDetailsAction {
    margin: 15px 0 0 0 !important;
    max-height: 30px;
}

/*SPEC EDIT/CREATE*/
.LeftColumn {
    width: 130.6px;
    text-align: right;
    padding: 5px;
}

.RightColumn img {
    vertical-align: top;
}

.RightColumn {
    width: 184.6px;
    text-align: left;
    padding: 5px;
}

.Spec_Edit_Error {
    border: 1px solid;
    margin: 5px 0px;
    padding: 5px 5px 5px 5px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}

span.requiredField {
    color: red;
    font-weight: bold;
    padding-right: 0px;
}

.required {
    border-color: red;
}

/* SPECIFICATION SEARCH */
.SpecificationSearchHeader {
    background-position: 0% 0%;
    color: white;
    font-family: arial, verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px #44760f !important;
    background-image: -o-linear-gradient(bottom, #75B91A, #54AF13);
    background-color: #75B91A;
    background-repeat: repeat;
    background-attachment: scroll;
}

.HeaderText {
    position: absolute;
    width: 240px;
    text-align: right;
    font-size: 17px;
    font-weight: bold;
    color: gray;
    z-index: 2000;
    right: 2px;
}

#specAdditionalDetails {
    table-layout: fixed !important;
    width: 120px;
}

    #specAdditionalDetails td {
        border: none !important;
        width: 16px;
    }

.imgViewSpecifications, .imgCR {
    cursor: pointer;
}

.MeetingError
{
    color:red;
    font-weight:bold;
}

.icon_display_size {
    height: 28px;
    width: 28px;
}