USE [U3GPPDB]
GO
/****** Object:  View [dbo].[Users_Groups]    Script Date: 02/26/2014 14:33:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Users_Groups]
AS
SELECT     P.PERSON_ID, PL.PLIST_ID, PL.TB_ID, PIL.PERS_ROLE_CODE
FROM DSDB..PERSON_LIST PL 
INNER JOIN DSDB..PERSON_IN_LIST PIL ON PIL.PLIST_ID = PL.PLIST_ID 
INNER JOIN DSDB..PERSON P ON PIL.PERSON_ID = P.PERSON_ID

WHERE P.DELETED_FLG='N'
AND (PL.PLIST_TYPE='MASTER' OR PL.PLIST_TYPE='OTHER')
GO
