<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="SendMailHttpClient" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:81/SendMail" binding="wsHttpBinding"
                bindingConfiguration="SendMailHttpClient" contract="WcfMailService.ISendMail"
                name="SendMailHttpClient">
                <identity>
                    <servicePrincipalName value="host/LFR408667.corp.capgemini.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>